 

 html {
   height: 100%;
 } 

 body {
     height: 100%; 
    padding-left: 0px;
    padding-right: 0px;
    background-color: aquamarine;
    font-family: "GFS Didot", serif;
    text-align: center;
   
 }
  .container-fluid {

    padding-left: 0px;
    padding-right: 0px;
   
  }
  

header {
    background-color: greenyellow;
    width: 100%;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    
}
header.row {
  margin-left: 0;
  margin-right: 0;
}


 main {
    background-position: center;
    background-size: cover;   
     
 }

 .quote {
  font-family: roboto;
  font-style: italic;
 }


 #btnBox {
    background-color: aqua;
    box-sizing: border-box;
    height: 60px;
    width: 100px;
    border-radius: 10%;
    font-family: "roboto", serif;
    font-weight: 600;
    font-style: italic;

}


.form_box  {
  display: inline-block;
  margin: 1rem 3rem;
}

.input_box {
  display: grid;

}

p {
  display: inline-block;
}


footer {
    background-color: greenyellow;
    height: 10%;
    font-family: "Fredericka the Great", serif;
    bottom: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}
   


div.col-4 {
  padding-left: 0px;
  padding-right: 0px;
}

footer.row {
    margin-right: 0;
    margin-left: 0;
}


