 

 html {
   height: 100%;
 } 

 body {
     height: 100%; 
    padding-left: 0px;
    padding-right: 0px;
    background-color: aquamarine;
    font-family: "GFS Didot", serif;
    text-align: center;
   
 }
  .container-fluid {

    padding-left: 0px;
    padding-right: 0px;
   
  }
  
/* Header codes*/
header {
    background-color: greenyellow;
    width: 100%;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    
}
header.row {
  margin-left: 0;
  margin-right: 0;
}

/* Main area codes*/

 main {
    background-position: center;
    background-size: cover; 
    height: auto;  
    width:auto;
 }

 .quote {
  font-family: roboto;
  font-style: italic;
 }


 #btnBox {
    background-color: aqua;
    box-sizing: border-box;
    height: 60px;
    width: 100px;
    border-radius: 10%;
    font-family: "roboto", serif;
    font-weight: 600;
    font-style: italic;

}


.form_box  {
  display: inline-block;
  margin: 1rem 3rem;
}

.input_box {
  display: grid;

}


#submitBtn {
  opacity: 0.5;
}



p {
  display: inline-block;
}

/* Confirmation page*/

#boxArea {
  border: ;
  border-radius: 49%;
  height: 155px;
  width: 600px;
  animation: spin 4s linear infinite;
  margin: auto;
  margin-top:250px;
background-color: aqua;
}


.boxes {
  display: inline-block;

}

#box1  {
border: ;
width: 150px;
height: 150px;
border-radius: 50%;
background-color: blueviolet;
}


#box2  {
width: 150px;
height: 150px;
border-radius: 50%;
background-color: blue;


}


#box3  {
width: 150px;
height: 150px;
border-radius: 50%;

background-color: yellow;
}

#box4  {
  width: 150px;
height: 150px;
border-radius: 50%;
background-color: green;
}


/*-----------------------------------*/ 
    /* Annimaion code*/

.animation {

  transform: rotate(-315deg);
  transform-origin: 50% -50%;
  animation: spin 4s linear infinite;
  
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
 /*-----------------------------------*/ 


/* Footer codes*/
footer {
    background-color: greenyellow;
    height: 10%;
    font-family: "Fredericka the Great", serif;
    bottom: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}
   

 #chkBoxPosition {
  font-family: "roboto", serif;
  font-weight: 600;
  font-size: large;
} 

div.col-4 {
  padding-left: 0px;
  padding-right: 0px;
}

footer.row {
    margin-right: 0;
    margin-left: 0;
}



/* codes test area*/
